<div class="stat-card">
  <div class="stat-header">
    <h3 class="stat-title">{{ title }}</h3>
  </div>
  <div class="stat-value">{{ value }}</div>
  
  <div class="stat-footer">
    <div class="trend" [ngClass]="colorClass">
      <span class="trend-arrow">&uarr;</span> {{ trendValue }} <span class="trend-text">{{ trendText }}</span>
    </div>
  </div>
  
  <div class="progress-bar-container">
    <div class="progress-bar-bg"></div>
    <div class="progress-bar-fill" [ngClass]="colorClass" [style.width.%]="progressValue"></div>
  </div>
</div>
