<div class="card-container">
  <div class="card-section">
    <h3 class="card-title">Postulaciones por semana</h3>
    
    <div class="chart-container-apex">
      <apx-chart
        [series]="barChartOptions.series"
        [chart]="barChartOptions.chart"
        [xaxis]="barChartOptions.xaxis"
        [plotOptions]="barChartOptions.plotOptions"
        [colors]="barChartOptions.colors"
        [dataLabels]="barChartOptions.dataLabels"
        [grid]="barChartOptions.grid"
        [tooltip]="barChartOptions.tooltip">
      </apx-chart>
    </div>
  </div>

  <div class="divider"></div>

  <div class="card-section">
    <h3 class="card-title">Embudo de selección</h3>
    
    <div class="funnel-container-apex">
      <apx-chart
        [series]="funnelChartOptions.series"
        [chart]="funnelChartOptions.chart"
        [plotOptions]="funnelChartOptions.plotOptions"
        [labels]="funnelChartOptions.xaxis.categories"
        [colors]="funnelChartOptions.colors"
        [dataLabels]="funnelChartOptions.dataLabels"
        [xaxis]="funnelChartOptions.xaxis"
        [grid]="funnelChartOptions.grid"
        [legend]="funnelChartOptions.legend"
        [tooltip]="funnelChartOptions.tooltip">
      </apx-chart>
    </div>
  </div>
</div>
